.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.program {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr;
  gap: 12px;
  padding: 24px;
  box-sizing: border-box;
}

.execution {
  display: flex;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
}

.execution, .debug, .lines {
  grid-column: 1 / 3;
}

@media screen and (max-width: 800px) {
  .lines {
    grid-column: 1;
  }

  .debug {
    grid-column: 2;
    height: 100%;
  }
}

.execution button {
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Courier New', Courier, monospace;
}

.debug {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 14px;
  position: relative;
  height: 200px;
  padding: 12px;
  border: 1px solid white;
  border-radius: 4px;
  font-family: monospace;
  /* overflow: hidden; */
  box-sizing: border-box;
}

.debug .single-vars {
  display: flex;
  justify-content: space-between;
}

.lines {
  position: relative;
  height: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid white;
  border-radius: 4px;
  font-family: monospace;
  /* overflow: hidden; */
  box-sizing: border-box;
}

.lines .editor {
  height: 100%;
  border: 0;
  font-size: 18px;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
}

.editor pre {
  max-width: 100%;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
}

.editor textarea {
  max-width: 100%;
  border: none;
  outline: none;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
}

.avatar {
  position: absolute;
}

.line {
  display: inline-block;
  width: 100%;
}

.active-line {
  background-color: #666;
}

.grid {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.2);
  font-size: 11px;
}

.grid-row {
  display: flex;
}

.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: 1px solid #222;
  box-sizing: border-box;
  background-color: wheat;
}

.grid-row:nth-child(odd) .grid-cell:nth-child(even) {
  background-color: rgb(233, 205, 164);
}

.grid-row:nth-child(even) .grid-cell:nth-child(odd) {
  background-color: rgb(233, 205, 164);
}

.walls-0 {
  border: none;
}

.walls-1 {
  border-width: 1px 0 0 0;
}

.walls-2 {
  border-width: 0 1px 0 0;
}

.walls-3 {
  border-width: 1px 1px 0 0;
}

.walls-4 {
  border-width: 0 0 1px 0;
}

.walls-5 {
  border-width: 1px 0 1px 0;
}

.walls-6 {
  border-width: 0 1px 1px 0;
}

.walls-7 {
  border-width: 1px 1px 1px 0;
}

.walls-8 {
  border-width: 0 0 0 1px;
}

.walls-9 {
  border-width: 1px 0 0 1px;
}

.walls-10 {
  border-width: 0 1px 0 1px;
}

.walls-11 {
  border-width: 1px 1px 0 1px;
}

.walls-12 {
  border-width: 0 0 1px 1px;
}

.walls-13 {
  border-width: 1px 0 1px 1px;
}

.walls-14 {
  border-width: 0 1px 1px 1px;
}

.walls-15 {
  border-width: 1px 1px 1px 1px;
}

button.reset {
  background-color: hsl(54, 77%, 75%);
}

button.pause {
  background-color: hsl(0, 79%, 72%);
}

button.step {
  background-color: hsl(177, 70%, 41%);
}

button.play {
  background-color: hsl(120, 73%, 75%);
}

button.reset:hover {
  background-color: hsl(54, 77%, 80%);
}

button.pause:hover {
  background-color: hsl(0, 79%, 75%);
}

button.step:hover {
  background-color: hsl(177, 70%, 43%);
}

button.play:hover {
  background-color: hsl(120, 73%, 80%);
}

button.reset:active {
  background-color: hsl(54, 60%, 70%);
}

button.pause:active {
  background-color: hsl(0, 60%, 67%);
}

button.step:active {
  background-color: hsl(177, 70%, 37%);
}

button.play:active {
  background-color: hsl(120, 50%, 70%);
}